```
{{.Config.Username}}@github:~$ about

  name      {{.Config.Name}}
  role      {{.Config.Role}}
{{- if .Config.Location}}
  location  {{.Config.Location}}
{{- end}}
{{- if .Config.Website}}
  web       {{.Config.Website}}
{{- end}}
{{- if .Config.Bio}}

  {{.Config.Bio}}
{{- end}}

{{.Config.Username}}@github:~$ _
```
{{if .Config.Socials}}

{{range .Config.Socials -}}
[![{{.Platform}}](https://img.shields.io/badge/{{.Platform}}-{{.Handle}}-181717?style=flat-square&logo={{.Platform}}&logoColor=white)]({{.URL}})&nbsp;
{{end}}
{{end}}
