```
{{.Config.Username}}@github:~$ projects
{{range .Config.Projects}}
  {{.Name}}{{if .Language}}  ({{.Language}}){{end}}
  {{.Description | trim}}
  → {{.URL}}
{{end}}
{{.Config.Username}}@github:~$ _
```

