<details>
<summary><code>secret</code></summary>

<br>

```
{{.Config.Username}}@github:~$ sudo rm -rf bugs/
Permission denied.

{{.Config.Username}}@github:~$ vim --exit
Still trying...

{{.Config.Username}}@github:~$ git push origin friday
⚠  Warning: Deploying on Friday is a federal offense.
   Proceeding anyway because you clearly enjoy pain.

{{.Config.Username}}@github:~$ kubectl delete pod production
Are you absolutely sure? [yes/ABSOLUTELY NOT]: _

{{.Config.Username}}@github:~$ _
```

</details>
