```
{{.Config.Username}}@github:~$ timeline
{{range .Config.Timeline}}
{{.Year}}  →  {{.Title | trim}}{{if .Description}}
        {{.Description | trim}}{{end}}
{{- end}}

{{.Config.Username}}@github:~$ _
```

